form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
    border-radius: 15px;
    padding: 100px 40px;
    background-color: transparent;
}

form label {
    color: var(--seasalt);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

textarea {
    width: 100%;
    font-size: 20px;
    height: 150px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

textarea:focus {
    outline: none;
    border: 1px solid var(--dark-blue);
    font-weight: 400;
}

textarea::placeholder {
    color: #A5A5A5;
  }

.TodoForm-buttonContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}


.TodoForm-buttonContainer button {
    width: 40%;
    margin: 0 auto;
    max-width: 150px;
    min-width: 100px;
    padding: 15px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.TodoForm-buttonContainer button:hover {
    cursor: pointer;
    box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.2);
    transform: translate(0px, 1px);
}

.TodoForm-button--cancel {
    background-color: var(--teal);
    color: var(--seasalt);
    border: 1px solid var(--seasalt)
}

.TodoForm-button--add {
    background-color: var(--seasalt);
    color: var(--teal);
    border: none;
}