.createButton {
    background-color: var(--teal);
    box-shadow: 0px 2px 10px rgba(16, 210, 171, 0.293);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: var(--seasalt);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    z-index: 1;

    transform: rotate(0);
    transition: .3s ease;
}

.createButton:hover {
    transform: rotate(180deg);
}

.createButton:disabled {
    opacity: 20%;
}

.createButton--disabled:hover{
    transform: rotate(0);
}