* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(130deg, var(--teal), var(--dark-blue));
  font-family: "Inter", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --seasalt: #FAFAFA;
  --light-blue: #B7E1E1;
  --teal: #16918C;
  --verdigris: #54A09D;
  --dark-blue: #0a2457;
  --mid-blue: #133f97;
}

#root {
  width: 100%;
  position: relative;
}
