.Icon{
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    height:48px;
    width:48px;
    font-size:24px;
    font-weight:700
}

.Icon-check:hover svg{
    fill:green;
}

.Icon-delete svg{
    align-self: start;
    justify-self: end;
}

.Icon-delete:hover svg{
    fill:red;
}